


body{
background:url('http://files.enjin.com/500086/splash/bg-res.png')no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.body-wrap-2{
display:none;
}


#splashcontent{
left : 50%;
  top : 10%;
position:absolute;
transform: translate(-50%, -50%);
width:100%;
max-width:340px;
}

#innersplash{
position:absolute;

}

#logo{
margin-bottom:20px;

}

#logo img{
width:100%;
min-width:100px;
}

#splashcontent #innersplash >a img{
max-width:100px;

}

#splashcontent #innersplash >a{
opacity:0.8;
transition: all 0.5s ease;
float:left;
margin-right:20px;
margin-bottom:20px;
}

#splashcontent #innersplash >a:hover{
opacity:1;
}

#innersplash a:nth-child(3n+1){
margin-right:0px !important;
}



/*Screen Optimize*/

@media screen and (max-width: 360px){

#splashcontent{
max-width:240px !important;
}
#splashcontent #innersplash >a img{
max-width:240px !important;
}

#logo img{
width:240px !important;
}
}


@media screen and (max-width: 680px){
#enjin-tray-messaging,#enjin-tray,#enjin-tray-chatchannels,.element_microtip.clickable .inner{
display:none !important;
}
}
